/*Initialisation marges body*/
body {
	margin:0;
}



#conceptPicture{
	max-width: 100%;
}


/*
Style footer
*/
footer {
	background-color: black;
	color: white;
	height: 70px;
	padding: 30px;
	text-align: center;
	margin-top: 30px;
}

ul.footer-center li{
	display: inline;
}


