body, html {
	margin: 0;
	padding: 0;
}


/*header parallax style*/

.parallax-window {
	background-color: rgba(0,0,0,.3);
	width: 100%;
	min-height: 700px;
}


.parallaxText {
	color: white;
	font-size: 20px;
	text-align: center;
	font-family: 'Poiret One', cursive;
}


/*navbar style*/

/*navbar desktop style & animation*/

@media screen and (min-width: 768px) {
	.navbar {
		background-color: transparent;
		border: 0;
		height: 120px;
		padding-top: 30px;
		transition: background, padding, height .3s ease;
		}

	.navbar.scroll {
		background-color: rgba(0,0,0,.7);
		box-shadow: 0px 1px 50px #aaa; 
		margin-top: 0;
		height: 80px;
		padding-top: 10px;
		transition: background, padding, height .3s ease;
		}

	.navbar-default .navbar-brand {
		padding: 0!important;
		margin: 0!important;
		}

	.navbar-brand img {
		width:150px;
		height: auto;
		margin-left: 50px;
		transition: margin, width .3s ease;
	}

	.navbar-brand .scroll {
		width:58px;
		height: auto;
		margin-left: 40px;
		transition: margin, width .3s ease;
	}

/*center menu items*/
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
		}
		
	.navbar .navbar-collapse {
		text-align: center;
	}
.navbar-default .navbar-brand {
	color: white; 
	font-size: 50px;
	font-family: 'Poiret One', cursive;
	margin-left: 40px!important;
	transition: margin, color, font-size .3s ease;
}

.navbar-default .navbar-brand.scroll {
	color: black;
	font-size: 40px;
	font-family: 'Poiret One', cursive;
	margin-left: 10px!important;
	transition: margin, color, font-size .3s ease;
}

	.nav.navbar-nav li a {
		color: #ffffff;
		font-size: 24px;
		font-weight: bold;
		position: relative;
		text-decoration: none;
		font-family: 'Poiret One', cursive;
	}

	/*underline hover effect  desktop*/
	.nav.navbar-nav li a:hover {
			color: #FDD835!important;
		}

	.nav.navbar-nav li a:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 1.5px;
		bottom: 0;
		left: 0;
		background-color: #FDD835;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}

	.nav.navbar-nav li a:hover:before {
		visibility: visible;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}

	.navbar-btn {
		margin-right: 80px;
		clear: both;
		float: none;
		font-size: 20px;
		border-radius:0;
		background-color: #FDD835;
		font-family: 'Alegreya Sans SC', sans-serif;
		font-weight: bold
		}

.currentMenu {
	color: #FDD835;
	/*border-bottom: solid;
	border-color: #FDD835;
	transition: border 0.3s ease-in-out 0s;*/
		/*content: "";
		position: absolute;
		width: 100%;
		height: 1.5px;
		bottom: 0;
		left: 0;
		background-color: #FDD835;
		visibility: hidden;
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;*/

}

} /* end navbar desktop style*/




/*navbar style mobile*/

@media screen and (max-width: 768px) {
	.navbar {
		background-color: rgba(0,0,0,.7);
		box-shadow: 0px 1px 50px #aaa; 
		border: 0;
	}

	.navbar-default .navbar-brand {
		color: #000000; 
		font-size: 20px;
		font-family: 'Poiret One', cursive;
		}
	
	.navbar-brand img {
		width: 40px;
		height: auto;
	}
	.navbar-default .navbar-brand {
		padding: 5px 0 0 15px;
	}
	
		.navbar-default .navbar-toggle { 
  border-color: transparent; 
	}
	.navbar-default .navbar-toggle .icon-bar {
    background-color: #FDD835;
	}
	.navbar-default .navbar-toggle:focus {
 		background-color: transparent;
	}	
}
/*end navbar style mobile*/



/*fin navbar style*/

.picture{
	max-width: 100%;
}

.carousel {
	margin: 52px 0 10px 0;
	background-color: #0B0B0B;
	display: block;
}

.slider-size {
min-height: 200px;
max-height: 500px;
}

/*removes shadows on side*/
.carousel-control.left, .carousel-control.right {
    background-image: none
}

/*centers images in the carousel*/
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
margin: auto;
}

.avisDiv .glyphicon{
	color: goldenrod;
	font-size: 2em;
}

.avis{
	text-align: center;
	padding: 3em 0 3em 0;
}
p{
	text-align: justify;
}
.avis p{
	text-align: center;
}
.avisTexte{
	height: 100%;
}

#map{
width: 100%;
height: 500px;
}
.mapDiv,.conceptDiv{
padding: 3em 0 3em 0;
border-bottom: solid 1px;
border-color: lightgray;
}


/*style footer*/

footer {
	margin-top: 70px;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
 	color: black;
	padding-top: 50px;
  background-image: url('img/footer_background.jpg');
	background-size: 100% auto;
	background-color: black;
	opacity: 0.6;

}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
	color: white;
}

/*fin style footer*/

/*style boutons sociaux*/
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.fa {
	color: black;
}


.modal-content{
width: 600px;
margin: 0 auto;
}
.animated{
	text-align: center;
	
}
.close-animatedModal{
	width: 2.5em;
	height: 2.5em;
	border-radius: 2.5em;
	background-color: lightgray;
	margin: 1em auto 2em auto;
	
}
#closeModal{
	width: 2em;
	height: 2em;
	margin: 0.25em 0.25em 0.25em 0.25em;
}
#animatedModal{
}