/*navbar style*/

.navbar {
	height: 100px;
	padding: 20px 0;
}


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
	font-size: 18px;
}

.navbar .navbar-collapse {
  text-align: center;
}


.navbar-btn {
	margin-right: 80px;
	clear: both;
	float: none;
	font-size: 18px;
	}

/*fin navbar style*/




.picture{
	max-width: 100%;
}

#carousel {
	margin-bottom: 20px;
	padding-top: 50px;
	background-color: #0B0B0B;
	display: block;
}

.slider-size {
min-height: 200px;
max-height: 500px;
}

/*places arrows on image for smaller screens*/
.carousel-control {
top: -200px;
}

/*removes shadows on side*/
.carousel-control.left, .carousel-control.right {
    background-image: none
}

/*centers images in the carousel*/
.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
margin: auto;
}

.glyphicon{
	color: goldenrod;
	font-size: 2em;
}

.avis{
	text-align: center;
	margin: 10px 0 10px 0;
}
p{
	text-align: justify;
}
.avis p{
	text-align: center;
}
.avisTexte{
	height: 100%;
}




/*style footer*/

footer {
	margin-top: 70px;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
 	color: black;
	padding-top: 50px;
  background-image: url('img/footer_background.jpg');
	background-size: 100% auto;
	background-color: black;
	opacity: 0.6;

}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
	color: white;
}

/*fin style footer*/

/*style boutons sociaux*/
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid black;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}

.fa {
	color: black;
}
