/*Initialisation marges body*/
body {
	margin:0;
}



#conceptPicture{
	max-width: 100%;
}


/*
Style footer
*/

footer {
	margin-top: 30px;
	background-color: green;
	padding-top: 20px;
}
#footer-left, #footer-right, #footer-center {
	border: solid;
	border-width: 5px;
	border-color: black;
}


